.contacts {
    padding-top:30px;
    height: 750px;
    background-image: image-set(
    url("./../../img/contacts/contact-form-bg.jpg") 1x,
    url("./../../img/contacts/contact-form-bg@2x.jpg") 2x
    );

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container-contact {
    max-width: 615px;
}
.contacts-title {
    margin-bottom: 40px;
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 70px;
    letter-spacing: 0.06em;
    color: var(--accent);
}

@media (max-width:400px){
    .contacts-title{
        text-align: center;
    }
}