.section-title p{
    font-size: clamp(1.5rem, 1.149rem + 1.76vw, 3.125rem);
}

.card-group{
    position: relative;
}

.section-groups-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(3.125rem, 2.382rem + 3.72vw, 6.563rem) clamp(1.25rem, 1.047rem + 1.01vw, 2.188rem) ;
}

.card-group img{
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
}

.card-group-img {
    border-radius: 20px;
}

.card-group-title {
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: clamp(1.25rem, 0.845rem + 2.03vw, 3.125rem);
    letter-spacing: 0.07em;
    color: var(--accent);
    margin-top: 25px;
}

@media (max-width: 1400px) {
    .section-groups-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 870px) {
    .section-groups-grid{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 50px 20px ;
    }
}

@media (max-width: 350px) {
    .section-groups-grid{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 50px 20px ;
    }

}